# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/middlewares.py
/config.py
/constants.py
/draft.py
/FinStatBot.py
/middlewares.py
